# Git
.git/
.gitignore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
Dockerfile*
.dockerignore

# Logs and environment variables
*.log*
.env*

# Build artifacts
dist/
build/
coverage/

# OS-specific
.DS_Store
Thumbs.db
